section.content-body.artwork
  img.artwork-image(src='/img/artwork/'+artwork.image.max1024px, alt=artwork.title)
  p - by &nbsp;
    a(href='/artists/'+artist.slug, title='artwork by'+#{artist.name}) #{artist.name}
  .tagCloud
    each tag, i in artwork.tag
      a(href='/art-list/'+tag) #{tag}
      &nbsp;
  ul.formats
    each format, i in artwork.format
      li
        p
        span.type #{format.type}, 
        span.detail #{format.detail},
        span.printsRun #{format.printsRun} 
        span.width #{format.width}cm x #{format.height}cm
        span.price &pound;#{format.price}
          
        button add to cart
        a(href='#print-type-info', title='print type information') ?
