section.content-body.collection
  ul.artwork
    each art, i in artwork
      li
        a(href='/artwork/'+art.artist+'/'+art.title')
          img(src='/img/artwork/'+art.image.max800px, alt=art.title)
        span.title= art.title
        ul
          li
            each format, j in art.format
              p #{format.type} #{format.detail}, #{format.width}cm x #{format.height}cm
                button add to cart
                a(href='#print-type-info', title='print type information') ?
        .tagCloud
          each tag in art.tag
            a(href='/art-list/'+tag) #{tag}
