form(action=formAction, method=method)
  section.artistsForm
    h3 some title
    div
      label(for="name") Artist Name
      input#name(type="text", name="artist[name]", placeholder="Artist Name", value=artist.name)

      label(for="biography") Artist Biography
      textarea#biography(name="artist[biography]", placeholder="Artist Biography")= artist.biography

      label(for="websiteUrl") Website Url
      input#websiteUrl(type="text", name="artist[websiteUrl]", placeholder="Website Url", value=artist.websiteUrl)
      label(for="artist[featured]") Featured on Homepage
        input(name="artist[featured]", type="checkbox", checked=artist.featured)
      label(for="artist[status]") Site Status
      select(name="artist[status]")
        - var statuses = ['offline', 'published']
        each status in statuses 
          if artist.status == status 
            option(value=status, selected="selected")= status
          else
            option(value=status)= status      
      if(methodOverride)
        input(type="hidden", name="_method", value=methodOverride)
      div.controls
        input.button.cancel(type="reset", value="Cancel")
        input.button.submit(type="submit", value="Submit")
                                       