form(method="POST", action=formAction)
  input(name="artwork[slug]", type="hidden", value=artwork.slug)
  img(src="/img/artwork/"+artwork.image.max200px, style="display:block; padding:5px; border:solid 1px #666;") 
  label(for="artwork[title]") Title
  input(name="artwork[title]", type="text", placeholder="title", value=artwork.title)
  label(for="artwork[artist]") Artist
  select(name="artwork[artist]")
    option(value="") -- Not set --
    each artist in artists 
      if artwork.artist.toString() === artist._id.toString() 
        option(value=artist._id, selected)= artist.name 
      else
        option(value=artist._id)= artist.name
  label(for="artwork[type]") Type
  input(name="artwork[type]", type="text", placeholder="type", value=artwork.type)
  label(for="artwork[description]") Description
  textarea(name="artwork[description]")= artwork.description
  label(for="artwork[released]") Date Released
  input(name="artwork[released]", type="datetime", placeholder="Date Released", value=artwork.released)       
  fieldset#formats
    legend Formats
    each format, i in artwork.format
      include artwork-format
  .controls
    input(id="newFormat", type="button", value="New")
  label(for="artwork[tag]") Tags 
  textarea(name="artwork[tag]")= artwork.tag
  label(for="artwork[featured]") Featured on Homepage
    input(name="artwork[featured]", type="checkbox", checked=artwork.featured)
  label(for="artwork[status]") Site Status
  select(name="artwork[status]")
    - var statuses = ['offline', 'published']
    each status in statuses 
      if artwork.status == status 
        option(value=status, selected="selected")= status
      else
        option(value=status)= status
  input(type="hidden", name="_method", value=methodOverride)
  div.controls    
    a.button.negative(href="/admin/artwork") Cancel
    input(type="submit", value="Save")
    